/* global.css */

body {
  margin: 20px;
  padding: 0;
  font-family: 'Didot', arial;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Light Theme */
[data-theme="light"] body {
  background-color: #f0f0f0; /* Light background */
  color: #000; /* Dark text color */
}

[data-theme="light"] h1,
[data-theme="light"] h2,
[data-theme="light"] h3,
[data-theme="light"] h4,
[data-theme="light"] h5,
[data-theme="light"] h6,
[data-theme="light"] p,
[data-theme="light"] a,
[data-theme="light"] span,
[data-theme="light"] li,
[data-theme="light"] div {
  color: #000; /* Ensure all text elements have dark color in light theme */
}

/* Dark Theme */
[data-theme="dark"] body {
  background-color: #03011a; /* Dark background */
  color: #fff; /* Light text color */
}
